<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <title>无敌社区</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
<!--    <link rel="stylesheet" href="/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="/css/bootstrap-theme.css">-->
<!--    <link rel="stylesheet" href="/css/community.css">-->
<!--    <script src="/jquery/jquery-3.4.1.min.js"></script>-->
<!--    <script src="/js/bootstrap.js" type="application/javascript"></script>-->

<!--</head>-->
<!--<body>-->
<!--<div th:replace="~{navigation :: navigate}"></div>-->
<!--<div class="jumbotron">-->
<!--    <h1>出现错误</h1>-->
<!--    <p th:text="${message}">请稍后再试</p>-->
<!--    <p><a class="btn btn-primary btn-lg" href="/" role="button">点击此处回到主页</a></p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->